<div class="container">
    <!-- Template Driven Form , Simpler and easier -->
    <form #f="ngForm">
    <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control" [(ngModel)]="product.id" #id="ngModel" placeholder="Enter ID" 
            required pattern="[1-9]">
            <div class="alert alert-danger" *ngIf="id.touched && id.invalid"> <!-- Control de saisie -->
                <div *ngIf="id.errors?.['required']"> <!-- For Required -->
                    Champs Vide
                </div>
                <div *ngIf="id.errors?.['pattern']"> <!-- for pattern check -->
                    L'Id doit être entre 1 et 9
                </div>
            </div>
            <label for="id">Quantité</label>
            <input type="text" name="Quantité" class="form-control" [(ngModel)]="product.quantity" id="Quantité" placeholder="Enter Quantity"
            >
            <div class="alert alert-danger"> <!-- Control de saisie -->
                <div> <!-- for pattern check -->
                    
                </div>
                <div> <!-- For Required -->

                </div>
            </div>
            <label for="id">Titre</label>
            <input type="text" name="Titre" class="form-control" [(ngModel)]="product.title" id="Titre" placeholder="Enter Title">
            <div class="alert alert-danger"> <!-- Control de saisie -->
                <div> <!-- for pattern check -->
                    
                </div>
                <div> <!-- For Required -->

                </div>
            </div>

    </div>

    </form>
</div>
