<p>product works!</p>
<p>{{ name }}</p>
<h1>{{ 1 + methodeA()}}</h1>
<button [disabled]="prop">save</button>
<br>
<button (click)="show()" type="submit">save2</button>
<br>
<p>{{ message }}</p>

<input [(ngModel)]="twoWayProp">

<p>{{  twoWayProp }}</p>

<input [(ngModel)] ="prixMax" type="number">
<table border="3">
<tr>
    <td>Id</td>
    <td>Titre</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Likes</td>
    <td>Action</td>
    <td>likeButt</td>
</tr>
<tr *ngFor="let p of listProdcut , let i = index">
    <div *ngIf="p.price< prixMax">
    <td>{{p.id}}</td>
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.like}}</td>
    <td><button (click)="buy(i)" type="submit"  [disabled] ="p.quantity ==0">Buy</button></td>
    <td><button (click)="like(i)" type="submit">Like</button></td>
    </div>
</tr>

</table>





